# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [ ]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [ ]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Выведем значения столбца *`'children'`*

In [ ]:
data['children'].value_counts()

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

Напишем функицю для для более наглядного распределения  количества детей на категории,добавим новый столбец *`'children_category'`* в датасет

In [ ]:
def children_category(count):

    x = count['children']
    try:
        if x == 0:
            return 'Нет детей'
        elif x == 1:
            return '1 ребенок'
        elif x == 2:
            return '2 ребенка'
        elif x == 3:
            return '3 ребенка'
        elif x == 4:
            return '4 ребенка'
        elif x == 5:
            return '5 детей'
    except:
        pass

data['children_category'] = data.apply(children_category, axis=1)
data['children_category'].unique()

array(['1 ребенок', 'Нет детей', '3 ребенка', '2 ребенка', '4 ребенка',
       '5 детей'], dtype=object)

Напишем функцию *`rate`*, которая поможет провести анализ данных.
С ее помощью выведем таблицу с данными
(категорию по которой проводим анализ, показатель задолженности, количество заемщиков и процентное соотношение задолжености в каждой подгруппе)
и посмотрим взаимосвзяь задоженности от количества детей

In [ ]:
def rate(row,category):
    data = row.groupby(category).agg({'debt':'sum'})
    data['count'] = row.groupby(category)['debt'].count()
    data['rate'] = (data['debt'] / data['count']).apply('{:.2%}'.format)
    return data

In [ ]:
data_children = rate(data,'children_category')
data_children.sort_values(by='rate',ascending=True)

                   debt  count   rate
children_category
5 детей               0      9  0.00%
Нет детей          1063  14091  7.54%
3 ребенка            27    330  8.18%
1 ребенок           444   4808  9.23%
2 ребенка           194   2052  9.45%
4 ребенка             4     41  9.76%

Поскольку заемщики с 4мя и 5ю детьми не достаточно релевантны для анализа, уберем строки из итоговой таблицы. Добавим условие с помощью атрибута *`loc`*

In [ ]:
data_children.loc[data_children['count'] > 100].sort_values(by='rate',ascending=True)

                   debt  count   rate
children_category
Нет детей          1063  14091  7.54%
3 ребенка            27    330  8.18%
1 ребенок           444   4808  9.23%
2 ребенка           194   2052  9.45%

In [ ]:
data_children_pivot = data.pivot_table(index='children_category',values='debt', aggfunc=['sum', 'count', 'mean']) \
.loc[data_children['count'] > 100].set_axis(['debt', 'count', 'rate'], axis='columns')

data_children_pivot.sort_values(by='rate').style.format({'rate':'{:.2%}'})

In [ ]:
data.groupby(['children_category']).agg({'debt': ['sum','count', 'mean']}).loc[data_children['count'] > 100] \
.set_axis(['debt', 'count', 'rate'], axis='columns').sort_values(by='rate').style.format({'rate':'{:.2%}'})

**Вывод:**
Клиенты без детей являются наиболее  дисциплинированными заемщиками и исправнее платят кредит.Вероятно, данная подгруппа обладает меньшим количеством незапланированных расходов и обязательств.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Рассмотрим значения столбца *`'family_status'`*

In [ ]:
data['family_status'].value_counts()

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

Мы видим, что данные релевантны для анализа \
Используем ранее созданную функцию *`rate`*,где в качестве параметра *`'category'`* укажем *`'family_status'`* и  выведем таблицу с показателями задолжености и процентным соотношением задолженности по каждой группе

In [ ]:
data_family_st = rate(data,'family_status')
data_family_st.sort_values('rate')

                       debt  count   rate
family_status
вдовец / вдова           63    951  6.62%
в разводе                84   1189  7.06%
женат / замужем         927  12261  7.56%
гражданский брак        385   4134  9.31%
Не женат / не замужем   273   2796  9.76%

**Вывод:** На основе полученных данных видно, что заемщики из категории 'вдовец / вдова' и  'в разводе', а также те, кто находятся в статусе 'женат / замужем' наиболее исправно платят кредит в отличии заемщиков в 'свобоном статусе'.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Рассмотрим значения столбца *`'total_income_category'`*

In [ ]:
data['total_income_category'].value_counts()

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

Данные  группам заемщиков категории А (доход более 1 млн.р) и Е (доход до 30 тыс. р) не достаточно релевантны для анализа (выборка слишком мала) \
Для проведения анализа выведем таблицу с данными о задолженостях по каждой категории с помощью функции  *`rate`* и  используя атрибут *`loc`* отфильтруем  данный по столбцу *`'count'`*

In [ ]:

data_total_income_cat = rate(data,'total_income_category')
data_total_income_cat.sort_values('rate')

data_total_income_cat.loc[data_total_income_cat['count'] > 100].sort_values(by='rate',ascending=True)

                       debt  count   rate
total_income_category
D                        21    349  6.02%
B                       354   5014  7.06%
C                      1353  15921  8.50%

**Вывод:**  Из полученных данных видно, что наиболее исправно осуществляют выплаты клиенты с невысоким доходом (от 30 до 50 тысяч руб.)

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Рассмотрим значения столбца *`'purpose_category'`* по категориям

In [ ]:
data['purpose_category'].value_counts()

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

Все категории релевантны для сравнения,все данные нам пригодятся изучения взаимосвязи задолжености. \
изпользуем функцию *`rate`*

In [ ]:
data_purpose_cat = rate(data,'purpose_category')
data_purpose_cat.sort_values('rate')

                          debt  count   rate
purpose_category
операции с недвижимостью   780  10751  7.26%
проведение свадьбы         183   2313  7.91%
получение образования      369   3988  9.25%
операции с автомобилем     400   4279  9.35%

**Вывод:** Из полученных данных можно сделать вывод, что заемщики берущие кредит на 'операции с недвижимостью' наиболее дисциплинировано производят выплаты. В тоже время самые не дисциплинированиые  клиенты, взявщие кредит на 'операции с автомобилем'.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Одной из возможных причин может быть  человеческий фактор. Например сотрудник не внес своевременно данные.
Также причиной может стать технический фактор.Например при внесении данных, выгрузке или переносе произошла ошибка.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значениние не искажает общую статискику данных для анализа, в случае наличия в данных экстремально отличающихся показателей.
в то время как среднее значение может изсказить действительность и сделать данные не релевантными для проведения дальнейшего анализа

### Шаг 4: общий вывод.

Мы провели исследование для проверки гипотез о платежеспособности текущих клиентов для кредитного отдела банка на основании предоставленных данных.
В ходе работы с данными мы провели ознакомление и предобработку данных. Были удалены или заменены пропущенные значения, обработали текущие значения и типы данных, проверили данные на дубликаты и заменили категори.

Были проверены три гипотезы о зависимости задолженности от количества детей ,семейного положения и уровня дохода клиентовю На основании полученных данных можно сказать следующее:

1. Зависимость между количеством детей и возвратом кредитом в срок есть. Клиенты банка без детей возвращают кредит наиболее исправно. В то время как клиенты имеющие 1-2 ребенка менее дисциплинированно выплачивают задолженность.

2. Зависимость между семейным положением и возвратом кредита в срок тоже есть. Люди которые находились или находятся в официальных отношениях исправнее платят кредит.

3. Зависимость выплат по кредитным обязательствам также прослеживается. Клиенты с невысоким доходом (от 30 до 50 тыс. руб.) наиболее исправно выплачивают кредит, а вот клиенты со средним уровнем дохода ( от 50 до 200 тыс. руб) наиболее часто выплачивают с задержкой.

Отвечая на вопрос о влиянии разных целей на выплату кредитных обязательств в срок, можно сказать, что клиенты, берущие кредит на операции с недвижимостью, наиболее исправно платят по своим обязательствам. В тоже время наиболее недобросовестно относятся к кредитным обязательствам клиенты с автокредитом.